<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>saas</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/baseStyle.css" rel="stylesheet">
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .link{

        }
        .actives {
            background:#ccc;
        }
    </style>
</head>
<body>
<div class="navbar navbar-collapse" >
    <span class="navbar-header col-md-3">
        <a href="hello"  style="text-decoration-line: none;"><span style="font-size:20px;color:blue;"><i class="glyphicon glyphicon-bitcoin"></i>  python-django saas</span></a>
    </span>
    <span  class="collapse navbar-collapse col-md-offset-1">
        <ul class="nav navbar-nav">
            <li>
                <a id="indexPage" href="hello">首页</a>
            </li>
            <li>
                <a id="communicatePage" href="communicate">联系</a>
            </li>
            <li>
                <a id="msgPage" href="msgCenter">消息中心</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right"><a href="admin" class="link" target="_blank" style="float:right;margin-right:100px;text-decoration-line: none;">管理</a></ul>
    </span>


</div>

{% block content %}
{% endblock %}
</body>
</html>