<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>saas</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .link{

        }
        .actives {
            background:#ccc;
        }
    </style>
</head>
<body>
<a href="hello" style="text-decoration-line: none;"><span style="font-size:16px;color:blue;"><i class="glyphicon glyphicon-bitcoin"></i>  python-django saas</span></a>
<span><a href="admin" class="link" target="_blank" style="float:right;margin-right:100px;text-decoration-line: none;">管理</a></span>
{% block content %}
{% endblock %}
</body>
</html>