{% extends 'base.html' %}

{% block content %}
    <h3>添加信息</h3>
    <form action="/addInfo" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 col-sm-offset-1">
                name:
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="username">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-1 col-sm-offset-1">
                age:
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="age">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 col-sm-offset-1">
                sex:
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="sex">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 col-sm-offset-1">
                score:
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="score">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
                <span class="col-sm-2">
                    <a style="text-decoration-line: none;"><input type="submit" class="form-control"></a>
                </span>
                <span class="col-sm-2">
                    <a href="hello" style="text-decoration-line: none;"><input type="button" class="form-control" value="return"></a>
                </span>
            </div>
        </div>
    </form>

    <script>
        $(function(){
            var request =
            if()
        });
    </script>
{% endblock %}